body{
    margin: 0%;
    padding: 0%;
    background-image:url(../img/fondo_login.jpg);
    background-size:cover;
    background-position: center;
    font-family:sans-serif;

}
.loginn{
    margin: 1px solid red;
    width: 320px;
    height: 550px;
    background: black;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;


}
.icono{
    widows: 100px;
    height: 100px;
    border-radius:50px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.loginn p{
    margin: 0%;
    padding: 0%;
    font-weight: bold;


}
.loginn input{
    width: 100%;
    margin-bottom:20px;

}
.loginn input[type="text"],input[type="password"],input[type="email"],input[type="number"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;


}
.loginn input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background:aquamarine;
    color: #fff;
    font-size: 18px;
    border-radius:20px; 



}
.loginn input[type="submit"]:hover{
    cursor: pointer;
    background: aquamarine;
    color: #000;

}
.loginn a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;


}
.loginn a:hover{
    color: antiquewhite;

}